body {
    height: 3226px;
    font-family: Helvetica, sans-serif;

}


header {
    background-color: #F1F3FF;
}

.navedit {
    margin-left: 180px;
}

.navsub {
    margin-left: 500px;
    margin-right: 180px;
}

.listmenu {
    padding-top: 10px;
}

.navbar-brand {
    width: 100px;
    height: 35px;
    background-color: #0D28A6;
}

.content1 {
    background-color: #F1F3FF;
}

.content2 {
    margin-top: 6rem;
    margin-left: 6rem;
}

.textcont2 {
    font-size: 20px;
}

.desccont2 {
    font-size: 14px;
}

.listcont2 {
    list-style: url(list.png);
    font-size: 16px;
}

.contentcol2 {
    padding-bottom: 2rem;
}

.content3 {
    margin-top: 6rem;
}

.textcont3 {
    font-size: 25px;
}

.cont4 {
    background-color: #F1F3FF;
}

.cont5 {
    background-color: #0D28A6;
    color: white;
}

.buttoncont6 {
    font-size: 14px;
}

footer {
    font-size: 13px;
}

.listfooter {
    list-style-type: none;
}

.iconfooter {
    margin-left: 40px;
}

.iconsubfooter {
    margin-left: 20px;
}